In [ ]:
Question 1.
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.isna().sum()

In [ ]:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
Question 2.
titanic_data = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')
rows, columns = titanic_data.shape
print(f"Rows: {rows}, Columns: {columns}")

Observations: In a dataset, observations are individual data entries or points. In the case of the Titanic dataset, each passenger is a single observation. In other words, each row of the dataset is an observation where each individual passenger's information is stored.
Variables: They are the characteristics/attributes that describe each observations. In the Titanic dataset, they are the columns where the information of each passengers are stored (ex. Survived, Pclass, Age, Sex, Fare)

In [ ]:
Rows: 891, Columns: 15

In [ ]:
Question 3.
def summarize_column(df):
    summary = {}
    for col in df.columns:
        summary[col] = {}
        summary[col]['Data Type'] = df[col].dtype
        summary[col]['Non-null Count'] = df[col].notnull().sum()
        summary[col]['Unique Values'] = df[col].nunique()
        if pd.api.types.is_numeric_dtype(df[col]):
            summary[col]['Mean'] = df[col].mean()
            summary[col]['Min'] = df[col].min()
            summary[col]['Max'] = df[col].max()
        elif pd.api.types.is_object_dtype(df[col]):
            summary[col]['Most Frequent'] = df[col].mode()[0]
    
    return pd.DataFrame(summary)

summaries = summarize_column(titanic_data)
print(summaries)

In [ ]:
survived    pclass     sex        age     sibsp     parch  \
Data Type          int64     int64  object    float64     int64     int64   
Non-null Count       891       891     891        714       891       891   
Unique Values          2         3       2         88         7         7   
Mean            0.383838  2.308642     NaN  29.699118  0.523008  0.381594   
Min                    0         1     NaN       0.42         0         0   
Max                    1         3     NaN       80.0         8         6   
Most Frequent        NaN       NaN    male        NaN       NaN       NaN   

                     fare embarked   class     who adult_male  embark_town  \
Data Type         float64   object  object  object       bool       object   
Non-null Count        891      889     891     891        891          889   
Unique Values         248        3       3       3          2            3   
Mean            32.204208      NaN     NaN     NaN   0.602694          NaN   
Min                   0.0      NaN     NaN     NaN      False          NaN   
Max              512.3292      NaN     NaN     NaN       True          NaN   
Most Frequent         NaN        S   Third     man        NaN  Southampton   

                 alive     alone  
Data Type       object      bool  
Non-null Count     891       891  
Unique Values        2         2  
Mean               NaN  0.602694  
Min                NaN     False  
Max                NaN      True  
Most Frequent       no       NaN  
Type Markdown and LaTeX: ùõº2

In [ ]:
Question 4.

If a dataset has non-numeric variables and missing values in numeric variables, df.describe() will only report the columns that have numerical values, as opposed to df.shape which will report every column.
As for the values it reports in the "count" column, it will "omit" the missing numerical values-in other words the count number of the column will decrease by the number of missing values found within that column.
In the example of the Titanic dataset, when the code df.shape is run, the output is (891, 15). However, when we run df.describe(), it only analyzes six of the fifteen columns, the ones that have numerical values. 
In the age column we can see it has a count value of 714 as opposed to 891 like the rest, since there are 177 values missing from the age column.

In [ ]:
Question 5.

An attribute (such as df.shape), has direct access to a stored value or characteristic. 
That is why it does not need paranthesis, since parenthesis indicated a computation or action needs to be done; even if no arguments are passed.
A method (ex. df.describe()) is a function that will perform an action, which is why parenthesis are needed.

In [ ]:
Question 6.
in 
Count: The number of non-missing values in a dataset for a variable.
Mean: The average of the values of a variable.
Std: A measure of the dispersion of the data around the mean. It shows how much the values typically differ from the mean.
     A low std means it's close to the mean, while a high std means it's further away.
Min: In a dataset, the smallest value.
25%: The value which falls below 25% of where the data is.
50%: The value which falls below 50% of where the data is.
75%: The value which falls below 75% of where the data is.
Max: The largest value of a dataset; the opposite of Min.

In [ ]:
Question 7.

1.) Some cases where df.dropna() might be perferred over using del df['col'] is when we have missing values, and we want to clean our data.
Compared to del df['col'], df.dropna() is more versatile in which we can delete rows and/or columns with missing data-and it does not erase the data permanently. 
For example in the Titanic dataset, we might want to use df.dropna() to get rid of any data that is deeemed unnecessary due it having too many missing values.

2.)On the other hand, we might want to use del df['col'] instead of df.dropna() when we know for sure if a variable is unnecessary in a dataset. 
del df['col'] deletes a column permanently, regardless if it has any missing values or not. Again using the Titanic dataset as an example,
if we were deem the column embark_town unwanted, we can use del df['col'] to permanently delete the column.

3.)Using del df['col'] before df.dropna() may be important if the presence of the unwanted column will affect the analysis of the data.
For example in the Titanic dataset, there might be observations with missing values only in the column we deemed to be unnecessary. If we were to use del df['col'] df.dropna() first,
we would be getting rid of a data entry that might be significant.

4.)First I ran the code del df[deck] to delete the deck column, because the column has 688 missing values. Then I ran the code df_cleaned = df.dropna() to remove any rows with missing values.
I ran del df[deck] first since it had a significant number of missing values, therefore if I had run df_cleaned = df.dropna() first the dataset would shrink considerably.

In [ ]:
Question 8.

1.) df.groupby("col1") groups the unique values found in col1. By selecting ["col2"], we are focusing on values from group col2 after grouping. The .describe() gives a summary for col2, which includes count, meant, std, etc.

2.)count in conjunction with group_by will result in significantly different in count because with group_by it focuses the data by unique values first, then df.describe() will give count values of that specific group, instead of the whole dataset.

3.)

In [ ]:
Question 9.

Yes, very much so.

In [ ]:
Here's a summary of our interactions so far:

---

### 1. **Dataset Structure:**
   - You provided the URL of the Titanic dataset and asked how many rows and columns it has.
   - I explained that `df.shape` would give you the dimensions of the dataset, i.e., the number of rows (observations) and columns (variables).

### 2. **Observations and Variables:**
   - You asked for an explanation of "observations" and "variables" in the Titanic dataset.
   - I clarified that:
     - **Observations** are individual data entries (rows), which represent passengers in this case.
     - **Variables** are the attributes (columns) that describe each observation, like `Age`, `Survived`, and `Fare`.

### 3. **Summary of Columns:**
   - You requested a simple code to generate summaries for the columns in the Titanic dataset.
   - I provided a Python code that produces basic statistics, including data type, non-null count, unique values, and measures like mean, min, and max for numerical columns.

### 4. **Attributes vs. Methods:**
   - You asked about the difference between an **attribute** (like `df.shape`) and a **method** (like `df.describe()`).
   - I explained:
     - **Attributes** represent properties or values of an object and don't require parentheses (e.g., `df.shape`).
     - **Methods** are functions that perform operations and need parentheses to be called (e.g., `df.describe()`).

### 5. **Statistical Measures:**
   - You wanted to know the meaning of `count`, `mean`, `std`, `min`, `25%`, `50%`, `75%`, and `max` as displayed by `df.describe()`.
   - I provided explanations of these statistical terms:
     - **Count**: Number of non-null values.
     - **Mean**: Average of the values.
     - **Std**: Standard deviation, showing how spread out the values are.
     - **Min**: Minimum value.
     - **25%**, **50% (Median)**, **75%**: Percentile values (1st quartile, median, and 3rd quartile).
     - **Max**: Maximum value.

---

This summary captures the key points of our conversation. Let me know if you need any adjustments!

https://chatgpt.com/share/4e832db0-2a2f-4ebb-b825-5185d78f5929
    

Sure! Here's a summary of our chat:

---

### Summary of Chat Log

**Topic: Understanding pandas DataFrame Operations**

1. **`df.groupby("col1")["col2"].describe()`**
   - **Explanation**: This method groups the DataFrame `df` by the unique values in `"col1"`, selects the column `"col2"`, and then provides a statistical summary for `"col2"` within each group. The summary includes count, mean, standard deviation, minimum, percentiles (25%, 50%, 75%), and maximum.

2. **Syntax Error with `del`**
   - **Issue**: `del df.['col']` results in an error due to incorrect syntax.
   - **Correct Syntax**:
     - Use `del df['col']` to delete a column from the DataFrame.
     - Alternatively, use `df.drop('col', axis=1)` to drop the column and optionally use `inplace=True` to modify the DataFrame directly.

3. **Column Not Defined Error**
   - **Possible Causes**: Column name might be misspelled, does not exist, or incorrect syntax used.
   - **Troubleshooting**:
     - Check existing columns with `df.columns`.
     - Ensure correct syntax for accessing or deleting columns.
     - Verify the exact column name, considering case sensitivity.

4. **`df.describe()` Method**
   - **Function**: Provides a statistical summary for numerical columns in the DataFrame.
   - **Output Includes**:
     - Count, mean, standard deviation, minimum, percentiles (25%, 50%, 75%), and maximum.
   - **Example**: Shows how to use `df.describe()` to get a summary of a DataFrame‚Äôs numerical columns.

---

Feel free to adjust or expand on any of these points based on your assignment needs!

https://chatgpt.com/share/66e3b3dd-9bfc-8011-8ed7-af45888b1c40